// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2023, Qualcomm Innovation Center, Inc. All rights reserved.
 * Copyright (c) 2025, Linaro Limited
 * Copyright (c) 2025, Zimo Zhang
 */

/dts-v1/;

#include "x1e78100-acer-sfa14-11.dtsi"
#include <dt-bindings/input/gpio-keys.h>

/ {
	backlight: backlight {
		compatible = "led-backlight";

		leds = <&led_backlight>;
		brightness-levels = <0 648 651 653 656 659 662 665 669 673 678 683 689 695 702 709 717 725 734 744 754 764 776 787 800 813 827 841 856 872 889 906 923 942 961 981 1002 1023 1045 1068 1091 1116 1141 1167 1193 1221 1249 1278 1308 1338 1370 1402 1435 1469 1504 1539 1576 1613 1651 1690 1730 1771 1812 1855 1898 1942 1988 2034 2081 2129 2177 2227 2278 2329 2382 2436 2490 2546 2602 2659 2718 2777 2837 2898 2961 3024 3088 3154 3220 3287 3355 3425 3495 3566 3639 3712 3787 3862 3939 4016 4095>;
		default-brightness-level = <50>;
	};

	gpio-keys {
		compatible = "gpio-keys";

		pinctrl-0 = <&hall_int_n_default>;
		pinctrl-names = "default";

		status = "disabled"; // Disable before suspend is fixed

		switch-lid {
			gpios = <&tlmm 92 GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_SW>;
			linux,code = <SW_LID>;
			wakeup-source;
			wakeup-event-action = <EV_ACT_DEASSERTED>;
		};
	};

	led-controller {
		compatible = "pwm-leds";

		led_backlight: led-1 {
			pwms = <&pm8550_pwm 3 1000000>; // 1kHz
			max-brightness = <4095>;

			enable-gpios = <&pmc8380_3_gpios 4 GPIO_ACTIVE_HIGH>;

			active-low; // Workaround: Qualcomm PMIC doesn't support PWM_POLARITY_INVERTED
		};
	};

	vreg_edp_bl: regulator-edp-bl {
		compatible = "regulator-fixed";

		regulator-name = "VBL9";
		regulator-min-microvolt = <3600000>;
		regulator-max-microvolt = <3600000>;

		gpio = <&pmc8380_3_gpios 10 GPIO_ACTIVE_HIGH>;
		enable-active-high;

		pinctrl-0 = <&edp_bl_reg_en>;
		pinctrl-names = "default";

		regulator-boot-on;
	};
};

// Keyboard and Touchpad
&i2c0 {
	clock-frequency = <400000>;

	pinctrl-0 = <&qup_i2c0_data_clk>;
	pinctrl-names = "default";

	status = "okay";

	/* SYNA8022 or SYNA8024 */
	touchpad@2c {
		compatible = "hid-over-i2c";
		reg = <0x2c>;

		hid-descr-addr = <0x20>;
		interrupts-extended = <&tlmm 3 IRQ_TYPE_LEVEL_LOW>;

		//vdd-supply = <&vreg_misc_3p3>;
		//vddl-supply = <&vreg_l12b_1p2>;

		pinctrl-0 = <&tpad_default>;
		pinctrl-names = "default";

		wakeup-source;
	};

	/* ELAN06F1 or SYNA06F2 */
	keyboard@3a {
		compatible = "hid-over-i2c";
		reg = <0x3a>;

		hid-descr-addr = <0x1>;
		interrupts-extended = <&tlmm 67 IRQ_TYPE_LEVEL_LOW>;

		//vdd-supply = <&vreg_misc_3p3>;
		//vddl-supply = <&vreg_l15b_1p8>;

		pinctrl-0 = <&kybd_default>;
		pinctrl-names = "default";

		wakeup-source;
	};
};

// Did not found NXP chips on board, found ps8719e instead, somehow PTN3222 probed successfully
&i2c5 {
	clock-frequency = <400000>;

	status = "okay";

	eusb3_repeater: redriver@47 {
		compatible = "nxp,ptn3222";
		reg = <0x47>;
		#phy-cells = <0>;

		vdd3v3-supply = <&vreg_l13b_3p0>;
		vdd1v8-supply = <&vreg_l4b_1p8>;

		reset-gpios = <&tlmm 6 GPIO_ACTIVE_LOW>;

		pinctrl-0 = <&eusb3_reset_n>;
		pinctrl-names = "default";
	};

	eusb6_repeater: redriver@4f {
		compatible = "nxp,ptn3222";
		reg = <0x4f>;
		#phy-cells = <0>;

		vdd3v3-supply = <&vreg_l13b_3p0>;
		vdd1v8-supply = <&vreg_l4b_1p8>;

		reset-gpios = <&tlmm 184 GPIO_ACTIVE_LOW>;

		pinctrl-0 = <&eusb6_reset_n>;
		pinctrl-names = "default";
	};

	eusb9_repeater: redriver@4b {
		compatible = "nxp,ptn3222";
		reg = <0x4b>;
		#phy-cells = <0>;

		vdd3v3-supply = <&vreg_l13b_3p0>;
		vdd1v8-supply = <&vreg_l4b_1p8>;

		reset-gpios = <&tlmm 7 GPIO_ACTIVE_LOW>;

		pinctrl-0 = <&eusb9_reset_n>;
		pinctrl-names = "default";
	};
};

&panel {
	backlight = <&backlight>;
};

&pm8550_gpios {
	edp_bl_pwm: edp-bl-pwm-state {
		pins = "gpio8";
		function = "func1"; // Set PinMUX to PWM mode
	};

	edp_bl_reg_en: edp-bl-reg-en-state {
		pins = "gpio9";
		function = "normal";
	};
};

&pm8550_pwm {
	status = "okay";

	pinctrl-0 = <&edp_bl_pwm>;
	pinctrl-names = "default";
};

&pmk8550_rtc {
	/delete-property/ qcom,uefi-rtc-info; // Disable until QSEECOM is up
};

&remoteproc_adsp {
	firmware-name = "qcom/x1e80100/ACER/SFA14-11/qcadsp8380.mbn",
			"qcom/x1e80100/ACER/SFA14-11/adsp_dtbs.elf";

	status = "okay";
};

&remoteproc_cdsp {
	firmware-name = "qcom/x1e80100/ACER/SFA14-11/qccdsp8380.mbn",
			"qcom/x1e80100/ACER/SFA14-11/cdsp_dtbs.elf";

	status = "okay";
};

&tlmm {
	eusb3_reset_n: eusb3-reset-n-state {
		pins = "gpio6";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-low;
	};

	eusb6_reset_n: eusb6-reset-n-state {
		pins = "gpio184";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-low;
	};

	eusb9_reset_n: eusb9-reset-n-state {
		pins = "gpio7";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-low;
	};

	hall_int_n_default: hall-int-n-state {
		pins = "gpio92";
		function = "gpio";
		bias-disable;
	};

	kybd_default: kybd-default-state {
		pins = "gpio67";
		function = "gpio";
		bias-disable;
	};

	tpad_default: tpad-default-state {
		pins = "gpio3";
		function = "gpio";
		bias-pull-up;
	};
};

// One of USB controller which connects most devices

&usb_mp {
	status = "okay";
};

// Not sure if all of these PHYs is available

&usb_mp_hsphy0 {
	vdd-supply = <&vreg_l2e_0p8>;
	vdda12-supply = <&vreg_l3e_1p2>;

	phys = <&eusb3_repeater>;

	status = "okay";
};

&usb_mp_hsphy1 {
	vdd-supply = <&vreg_l2e_0p8>;
	vdda12-supply = <&vreg_l3e_1p2>;

	phys = <&eusb6_repeater>;

	status = "okay";
};

&usb_mp_qmpphy0 {
	vdda-phy-supply = <&vreg_l3e_1p2>;
	vdda-pll-supply = <&vreg_l3c_0p8>;

	status = "okay";
};

&usb_mp_qmpphy1 {
	vdda-phy-supply = <&vreg_l3e_1p2>;
	vdda-pll-supply = <&vreg_l3c_0p8>;

	status = "okay";
};

// Another USB controller with integrated UVC camera connected

&usb_2 {
	status = "okay";
};

&usb_2_dwc3 {
	dr_mode = "host";
};

&usb_2_hsphy {
	vdd-supply = <&vreg_l2e_0p8>;
	vdda12-supply = <&vreg_l3e_1p2>;

	phys = <&eusb9_repeater>;

	status = "okay";
};
